<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>
    <Appenders>
        <!-- File Appender -->
        <RollingFile name="FILE" fileName="${basePath}/logfile.log" filePattern="${basePath}/logfile-%i.log"  append="true">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <!-- Console Appender -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="log" level="all" />
        <Root level="all">
            <AppenderRef ref="FILE" level="all" />
        </Root>
    </Loggers>
</Configuration>